.star {
  position: relative;
  width: 20px;
  height: 20px;
  /* background: transparent; */
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  ); 
  
}

.blink_me {
  animation: blink 2s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.glow-filter {
  position: relative;
  display: inline-block;
}

.glow-filter::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: transparent;
  background: linear-gradient(0deg, #ffffff 0%, #f9c092 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: url(#glow-4);
  opacity: 1;
}
